.textlogin{
    text-align: center;
}

.tarjeta{
    border-radius: 15px;
    height: 315px;

}

ion-input{
    background-color: #F7D5A5;


}

.img-superior{
    height: 220px;
}

.img-inferior{
    height: 220px;
    position: absolute;
    right: 0%;
}
.info{
    padding-left: 20px;
    padding-right: 20px;
}