<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <img src="/assets/imgsuperior.jpeg" class="img-superior">
  

      <ion-grid>
        <ion-row>
          <ion-col size="1">
          </ion-col>

          <ion-col size="10">
              <ion-card class="tarjeta">

                <ion-card-header color="primary" class="textlogin">
                  <ion-card-title>Registrarse</ion-card-title>
                </ion-card-header>

                <br>
            
                <ion-card-content>
                  <form [formGroup]="formularioRegistro">
            
                    <ion-input label="Usuario" label-placement="floating" fill="outline" placeholder="Ingrese el usuario" formControlName="nombre" ></ion-input>

                    <br>

                    <ion-input label="Contraseña" label-placement="floating" fill="outline" placeholder="Ingrese la Contraseña" formControlName="password" type="password"></ion-input>

                    <br>

                    <ion-input label=" Repetir contraseña" label-placement="floating" fill="outline" placeholder="Ingrese la Contraseña" formControlName="confirmacionPassword" type="password"></ion-input>
            
                  </form>

                  <ion-grid>
                    <ion-row>
                      <ion-col></ion-col>
                      <ion-col>
                        <ion-button (click)="guardar()">
                          Registrarse
                        </ion-button>
                      </ion-col>
                      <ion-col></ion-col>
                    </ion-row>
                  </ion-grid>
            
                </ion-card-content>
              </ion-card>
          </ion-col>

          <ion-col size="1">
          </ion-col>
        </ion-row>
      </ion-grid>

      <img src="/assets/imginferior.jpeg" class="img-inferior">

</ion-content>







